/* General rules for each page */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    font-family: sans-serif;
    padding: auto; 
    height: 100vh;
    flex-grow: 1;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
    color: lightcyan;
    position: sticky;
    top: 0;
    width: 100vw;
    box-shadow: 0px 2px 5px black;
}

nav a{
    text-decoration: none;
    color: lightcyan;
    padding: 0 2rem 0 2rem;
}


.active {
    background-color: lightgray;
    color: darkslategray;
    border-radius: 5px;
}

nav {
    justify-items: right;
    width: 50vw;
}

h1 {
    font-size: 2.5rem;
    padding: 0 2rem 0 2rem;
    margin: 0;
    justify-items: left;
}

h2 {
    font-size: 2rem;
    padding: 0 0 1rem 0;
}

ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}

nav a:hover{
    background-color: lightgray;
    color: darkslategray;
    border-radius: 5px;
    transition: 0.5s;
}

main{
    display: flex;
    color: lightcyan;
    margin: auto;
    width: 1200px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
    flex-grow: 1;
}

#form {
    width: 100%;
    justify-items: left;
    margin-top: 3rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightslategray;
    color: lightcyan;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 5px black;
}
/* __________________________________________________________________________ */
/* Rules for homepage */
#homepage {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#homepage h1{
    font-size: 4rem;
    padding: 0 2rem 0 2rem;
    margin: 0;
    justify-items: left;
}

#homepage img {
    border-radius: 25%;
    width: 500px;
    height: auto;padding: 0 2rem 0 2rem;
}

#homepage p {
    font-size: 1.5rem;
    padding: 3rem 2rem 0 2rem;
    margin: 0;
    justify-items: left;
}
/* __________________________________________________________________________ */
/* Rules for about.html */
#aboutpage {
    display: flex;
    align-items: center;
}  

#aboutpage h2 {
    padding: 0 0 2rem 0;
    text-align: center;
}

#aboutpage p {
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
    margin: 0;
    justify-items: center;
}

#aboutpage img {
    width: auto;
    height: 425px;
    padding: 0;
    border-radius: 10px;
}

#hobbies {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hobbies div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#hobbies div:nth-of-type(2) {
    flex-direction: row-reverse;
} 

#hobbies div p {
    font-size: 1rem;
    padding: 2rem;
    margin: 0;
}
/* __________________________________________________________________________ */
/* Rules for portfolio.html*/
#projects {
    display: flex;
    justify-content: center;  
    flex-direction: row;
    color: darkslategray
}

#projects div{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 1rem;
    padding: 2rem;
    background-color: lightgray;
    border-radius: 5px;  
}

#projects p {
    padding: 2rem 0 2rem 0;;
    margin: 0;
}

#projects img {
   width: 100%;
   height: auto;
}
/* __________________________________________________________________________ */
/* Rules for contact form */
#contactpage {
    display: flex;
    justify-content: center;
}

#contactpage h2 {
    text-align: center;
}

#contactpage p {
    font-size: 1rem;
    padding: 0 0 1rem 0;    
    margin: 0;
    text-align: center;
}

#contactpage p:nth-of-type(1) {
    text-shadow: 1px 1px 1px black;
    font-size: 1.5rem;
}

#contactpage #contact{
    justify-items: center;
    align-items: center;
}

#contactpage .linkedin {
    height: 5rem;
    width: auto;
}

#contactpage #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contactpage form {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 25%;
}

#contactpage label {
    padding: 1rem 0 0 0;
    margin: 0;
    font-weight: bold ;
}

#contactpage input {
    border-radius: 5px;
} 

#contactpage textarea {
    resize: vertical;
    border-radius: 5px;
}



/* __________________________________________________________________________ */
/* Rules for success.html */
.success-body {
    background-color: white;
    color: black;
}

/* __________________________________________________________________________ */
/* Resizing */
@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }

    header {
        flex-direction: column;
        justify-items: center;
    }

    main {
        flex-direction: column;
        width: 100vw;
    }

    img {
        width: 50%;
        height: auto;
    }

    nav{
        width: 100vw;
        justify-items: center;
    }

    #homepage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #hobbies div{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #hobbies div:nth-of-type(2){
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 1200px) {
    nav{
        width: 100vw;
        justify-items: center;
    }
    main {
        width: 100vw;
    }

    #aboutpage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        #hobbies div{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    #hobbies div:nth-of-type(2){
        flex-direction: column;
        justify-content: center;
        align-items: center;

    #projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   
}